
section.content-element {
  display: block;
  background: white;
  position: relative;
}

.content-element .teaser {
position: relative;

background-image:
  -webkit-linear-gradient(rgba(255, 125, 0, 0.5), rgba(255, 125, 0, 0.5)),
  url(../img/example-content-image.jpg);

background-image:
  linear-gradient(rgba(255, 125, 0, 0.5), rgba(255, 125, 0, 0.5)),
  url(../img/example-content-image.jpg);

background-size: cover;
min-height: 35vw;
}

.content-element .teaser p {
  position: relative;
  z-index: 10;
}

.content-element .content-text img {
  display: block;
  margin: 1em 0;
}

.content-element .content-text p {
  padding-right: 45%;
}

.content-element a.button {
  display: inline-block;
  padding: 1em 2em;
  background: orange;
  color: white;
  text-decoration: none;
}

.content-element a.button:hover {
  opacity: .6;
}

.form {
    background: var(--grey-dark);
    flex: 1;
    color: var(--grey-light);
    font-family: var(--footer-font);
    text-decoration: none;
    text-transform: uppercase;
}

#submit {
  display: inline-block;
  padding: 1em 2em;
  background: orange;
  color: white;
  text-decoration: none;
}


@media screen and (min-width: 576px) {
  .content-element .teaser p {
  padding-right: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .content-element .teaser {
    min-height: none;
    max-height: 40rem;
  }
}
