html, body {
  max-width: 873px;
  margin: auto;
  text-align: center;
  background-color: white;
}

header {

}

.header-outer-wrapper {
  background-image: url("../img/runner.jpg");
  background-size: cover;
  display: block;
  min-height: 35vw;
  position: relative;
  display: grid;
  grid-template-rows: 1fr, 1fr;
}

.blog-title {
  position: relative;
  min-height: 4em;
  background-image: linear-gradient(#008080, white);
}

.blog-title-text {
  position: absolute;
  float: left;
  top: 25%;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: white;
  padding-left: 1em;
}

.title-image-text-container {
  position: relative;
  margin-top: 22vw;
  min-height: 2em;
  background-color: #e0ffff;
  opacity: 0.4;
}

.title-image-text {
  float: right;
  padding-right: 1em;
  color: #008080;
  font-size: 20px;
}

.main-outer-wrapper {

  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #e0ffff;
  margin-top: 0;
  padding-top: 0;
}

.main-navigation-wrapper {
  position: relative;
  text-align: left;
  background-color: #e0ffff;
  margin-top: 0;
}

.main-navigation-inner-wrapper {
  position: relative;
  background-color: #add8e6;
  margin-top: 0;
}

.main-navigation-title {
  text-align: center;
  color: #008080;
  font-size: 20px;
}

.main-navigation-items {
  padding-bottom: 1em;
}

.main-navigation-items ul > li {
  list-style: none;
}

.main-text-wrapper {
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.5em;
}

.footer-outer-wrapper {
  position: relative;
  background-color: #008080;
  width: auto;
  min-height: 4em;
}

.footer-text {
  position: relative;
  float: right;
  color: white;
  padding-top: 5px;
  padding-right: 1em;
}
